.club-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.club-page-container form {
    margin: 0;
    padding: 0;
    display: block;
}

.club-page-container button{
    width: 10em;
    margin: 0;
}

.club-page-container .column {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#right-column {
    min-height: 70vh;
    border-left: black solid 1px;
    width: 20%;
}

#right-column {
    min-width: 10em;
}

.club-page-container .club-info {
    display: flex;
    flex-direction: column;
    width: 30vw;
    grid-gap: 1em;
}

.club-page-container img {
    width: 30%;
}

.club-page-container .member-container {

}

.club-page-container .member {
    display: flex;
    flex-direction: row;
}

.club-info img {
    box-shadow: 0 0.2em 1em dimgrey;
    height: 10em;
    width: 10em;
    object-fit: cover;
    object-position: center;
}