header {
    display: flex;
    background: white;
    top: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    box-shadow: 0 0.2em 1em lightgrey;
    z-index: 2;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 0;
    width: 30%;
    justify-content: flex-end;
}

nav li {
    float: left;
    margin-right: 1vw;
}

nav li > a{
    text-decoration: none;
    color: black;
}

nav > img {
    height: 90%;
}

#logo {
    position: absolute;
    width: 8em;
    left: calc(50% - 4em);
}

.hamburger-container {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 0.7em;
}

.hamburger {
    justify-self: flex-start;
    position: relative;
    background: black;
    height: 6px;
    border-radius: 0.1em;
    width: 2.2em;
    display: block;
    transition: transform 0.5s, rotate 0.5s;
}

.hamburger::after, .hamburger::before {
    content: '';
    position: absolute;
    background: black;
    height: 100%;
    border-radius: 0.1em;
    width: 100%;
    transition: inherit;
}

.hamburger::after {
    transform: translateY(12px);
}

.hamburger::before {
    transform: translateY(-12px);
}

.hamburger.open {
    transform: translateX(-75px);
    background: transparent;
}

.hamburger.open::after {
    transform: translateX(75px) rotate(-45deg);
}

.hamburger.open::before {
    transform: translateX(75px) rotate(45deg);
}

.side-bar {
    width: 30vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #EFEFEF;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: left 0.3s, visibility 0.3s;
    visibility: hidden;
}

.side-bar-show {
    left: 0;
    transition: left 0.3s, visibility 0.3s;
    visibility: visible;
    box-shadow: 0 0.2em 1em lightgrey;
}

.side-bar > ul {
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
}