.home-container {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 6em;
}

.home-container .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.home-container .text-container {
    width: 30%;
    font-size: 1.2em;
}

#row-2 > .text-container {
    padding-right: 5vw;
}

.home-container img {
    box-shadow: 0 2em 4em darkgrey;
}

#row-1 > img {
    width: 30%;
}

#row-2 > img {
    width: 40%;
}

