.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-container .info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-container .admin {
    border: black solid 1px;
    margin-left: 1em;
    padding: 0.2em;
}