body {
    margin: 0;
}

.base-container {
    font-family: sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
    height: 95vh;
    margin-top: 5vh;
}

.home-container {
    display: grid;
    align-items: center;
}

header {
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    position: fixed;
    box-shadow: 0em 0 0.5em dimgrey;
    z-index: 1;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95vh;
    width: 100%;
}

.feed-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.image-container>img{
    width: 100%;
    height: 100%;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.form-container>form {
    padding-right: 10vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.hamburger-container {
    height: 5vh;
    display: flex;
    align-items: center;
}
.hamburger{
    position: relative;
    border: none;
    outline: none;
    background: black;
    height: 8px;
    border-radius: 1em;
    padding: 0;
    margin-left: 1em;
    width: 2.5em;
    display: block;
    transition: transform 0.5s, rotate 0.5s;
}
.hamburger::after, .hamburger::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: black;
    height: 100%;
    border-radius: 1em;
    padding: 0;
    width: 100%;
    transition: inherit;
}
.hamburger::after{
    transform: translateY(16px);
}
.hamburger::before{
    transform: translateY(-16px);
}
.hamburger.open {
    transform: translateX(-75px);
    background: transparent;
}
.hamburger.open::after {
    transform: translateX(75px) rotate(-45deg);
}
.hamburger.open::before {
    transform: translateX(75px) rotate(45deg);
}

.side-bar {
    width:30vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: -100%;
    background-color: lightgrey;
    z-index: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.3s, visibility 0.3s;
    visibility: hidden;
}

.side-bar-show {
    left: 0;
    transition: left 0.3s, visibility 0.3s;
    visibility: visible;
}

.side-bar>ul {
    display: flex;
    height: 100%;
    align-items: center;
}








button {
    background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;

    width: 70%;
    border: none;
    color: black;
    margin: 1em;
    line-height: 3.0em;
}

img {
    width: 60%;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input, textarea {
    background-color: transparent;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    width: 50%;
    height: 5%;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }

    form {
        margin: auto;
    }
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

nav>img {
    height: 90%;
}

main {
    margin: auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
}

ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    padding: 0;
    width: 30%;
    justify-content: flex-end;
}

li {
    float: left;
    margin-right: 1vw;
}

li>a{
    text-decoration: none;
    color: black;
}

.post{
    height: 20vh;
    width: 20vw;
    color: lightcoral;
    border: 1px solid black;
    margin-bottom: 1em;
}

section.club-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
    width: 50%;
}

.club-form > form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.clubs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.club {
    border: 1px solid black;
    width: 10vw;
    height: 10vw;
    display: block;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

